#quizQuestions {
	.tabList .tabItem {
		padding-right: 25px;
	}
	#addNewQuestion {
		margin-top: 20px;
		font-size: .75em;
	}

	.tabPanels {
		padding-bottom: 30px;
	}
	.deleteQuestion {
		float: left;
		margin-left: 10px;
		font-size: .75rem;
		cursor: pointer;
		i {
			float: left;
			font-size: 1rem;
		}
		span {
			float: left;
			margin-top: 3px;
			display: none;
		}
		&:hover span {
			display: block;
		}
	}
	button {
		background-color: #dbdbdb;
		border: 2px solid #dbdbdb;
		color: #4d4d4d;
	}
}
.mediaMeta {
	clear: right;
	.caret {
		clear: right;
		margin-left: 1rem;
	}
}
.errorMessage {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #e56050;
	padding: 0.5rem 2rem;
	direction: rtl;
	color: white;
	display: none;
	&.open { display: block; }
	p {
		text-align: center;
	}
	a.close {
		position: absolute;
		top: 5px;
		left: 5px;
		cursor: pointer;
	}
}
